html, body {
    background: #440e44;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

a {
    color: #D793DA;
}

.logo {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

.date {
    color: #9398da;
    font-size: 2em;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 768px) {
  .hodlerhodler {
    max-width: 1200px; 
    margin: 0 auto;  
    grid-template-columns: repeat(3, 1fr); 
  }
}


.hodlerhodler {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;  
}

.hodler {
    height: 200px;
    box-sizing: border-box;
    background: #852585;
    font-size: 30px;
    position: relative;
}
.hodler a {
    color: #4a83c0;
}

.hodler img.shape {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
}

.old {
    background: #107218;
}
.old a {
    color: #8ac3ff;
}

.finished {
    background: #2a2f85;
}

.abandoned {
    background: #7a7a7a;
}

abandoned a {
    color: #8ac3ff;
}

.standalone {
    background: #ff8c00;
}

.hiatus {
    background: #e0e026;
    color: #000000;
}

hiatus a {
    color: #4C83BF;
}

table.prjlegend, table.prjlegend th, table.prjlegend td {
    border: none;
}

img.prjlegend {
    width: 12px;
    height: 12px;
    margin-right: 6px;
}

.color {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    border-radius: 2px;
}

.purple { background: #852585; }
.green  { background: #107218; }
.blue   { background: #2a2f85; }
.grey   { background: #7a7a7a; }
.orange { background: #ff8c00; }
.yellow { background: #e0e026; }